<%- include('../partials/header') %>
<form id="search-form" action="/players/search/player" method="POST">
    <label>NBA Player Search</label>
    <input type="text" name="name">
    <input type="submit" value="Search Player">
</form>
<form>
    <label>NBA Team Search</label>
    <input type="text" name="team">
    <input type="submit" value="Search Team">
</form>
<%- include('../partials/footer') %>