<%- include('../partials/header') %>
<form id="search-form" action="/players/search/player" method="POST">
    <label>NBA Player Search</label>
    <input type="text" name="name">
    <input type="submit" value="Search Player">
</form>

<%- include('../partials/footer') %>