<%- include('../partials/header') %>
    
<!-- <form id="choose-team-form" method="GET" action="/teams/:id">
    <label>Eastern Conference Team:</label>
    <select name="id" >
      <option value="" disabled selected hidden>Please Choose...</option>
      <option value="1">Atlanta Hawks</option>
      <option value="2">Boston Celtics</option>
      <option value="3">Brooklyn Nets</option>
      <option value="4">Charlotte Hornets</option>
      <option value="5">Chicago Bulls</option>
      <option value="6">Cleveland Cavaliers</option>
      <option value="9">Detroit Pistons</option>
      <option value="12">Indiana Pacers</option>
      <option value="16">Miami Heat</option>
      <option value="17">Milwaukee Bucks</option>
      <option value="20">New York Knicks</option>
      <option value="22">Orlando Magic</option>
      <option value="23">Philadelphia 76ers</option>
      <option value="28">Toronto Raptors</option>
      <option value="30">Washington Wizards</option>
    </select>
    <input type="submit" value="View Team">
  </form>

  <form id="choose-team-form" method="GET" action="/teams/:id">
    <label>Western Conference Team:</label>
    <select name="id">
      <option value="" disabled selected hidden>Please Choose...</option>
      <option value="7">Dallas Mavericks</option>
      <option value="8">Denver Nuggets</option>
      <option value="10">Golden State Warriors</option>
      <option value="11">Houston Rockets</option>
      <option value="13">Los Angeles Clippers</option>
      <option value="14">Los Angeles Lakers</option>
      <option value="15">Memphis Grizzlies</option>
      <option value="18">Minnesota Timberwolves</option>
      <option value="19">New Orleans Pelicans</option>
      <option value="21">Oklahoma City Thunder</option>
      <option value="24">Phoenix Suns</option>
      <option value="25">Portland Trailblazers</option>
      <option value="26">Sacramento Kings</option>
      <option value="27">San Antonio Spurs</option>
      <option value="29">Utah Jazz</option>
    </select>
    <input type="submit" value="View Team">
  </form> -->

  
      <table>
          <thead>
              <tr>
                  <th><h3>Eastern Conference</h1></th>
              </tr>
          </thead>
          <tbody>
            <tr><td><a href="/teams/1">Atlanta Hawks</a></td><td><% if (user) { %><form action="/teams/1" method="POST"><button>FAVORITE</button></form><% } %></td></tr>
            <tr><td><a href="/teams/2">Boston Celtics</a></td><td><% if (user) { %><form action="/teams/2" method="POST"><button>FAVORITE</button></form><% } %></td></tr>
            <tr><td><a href="/teams/3">Brooklyn Nets</a></td><td><% if (user) { %>
                <form action="/teams/3" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/4">Charlotte Hornets</a></td><td><% if (user) { %>
                <form action="/teams/4" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/5">Chicago Bulls</a></td><td><% if (user) { %>
                <form action="/teams/5" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/6">Cleveland Cavaliers</a></td><td><% if (user) { %>
                <form action="/teams/6" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/9">Detroit Pistons</a></td><td><% if (user) { %>
                <form action="/teams/9" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/12">Indiana Pacers</a></td><td><% if (user) { %>
                <form action="/teams/12" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/16">Miami Heat</a></td><td><% if (user) { %>
                <form action="/teams/16" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/17">Milwaukee Bucks</a></td><td><% if (user) { %>
                <form action="/teams/17" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/20">New York Knicks</a></td><td><% if (user) { %>
                <form action="/teams/20" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/22">Orlando Magic</a></td><td><% if (user) { %>
                <form action="/teams/22" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/23">Philadelphia 76ers</a></td><td><% if (user) { %>
                <form action="/teams/23" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/28">Toronto Raptors</a></td><td><% if (user) { %>
                <form action="/teams/28" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
            <tr><td><a href="/teams/30">Washington Wizards</a></td><td><% if (user) { %>
                <form action="/teams/30" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          </tbody>
      </table>
  

    <table>
        <thead>
            <tr>
                <th><h3>Western Conference</h1></th>
            </tr>
        </thead>
        <tbody>
          <tr><td><a href="/teams/7">Dallas Mavericks</a></td><td><% if (user) { %>
                <form action="/teams/7" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/8">Denver Nuggets</a></td><td><% if (user) { %>
                <form action="/teams/8" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/10">Golden State Warriors</a></td><td><% if (user) { %>
                <form action="/teams/10" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/11">Houston Rockets</a></td><td><% if (user) { %>
                <form action="/teams/11" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/13">Los Angeles Clippers</a></td><td><% if (user) { %>
                <form action="/teams/13" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/14">Los Angeles Lakers</a></td><td><% if (user) { %>
                <form action="/teams/14" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/15">Memphis Grizzlies</a></td><td><% if (user) { %>
                <form action="/teams/15" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/18">Minnesota Timberwolves</a></td><td><% if (user) { %>
                <form action="/teams/18" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/19">New Orleans Pelicans</a></td><td><% if (user) { %>
                <form action="/teams/19" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/21">Oklahoma City Thunder</a></td><td><% if (user) { %>
                <form action="/teams/21" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/24">Phoenix Suns</a></td><td><% if (user) { %>
                <form action="/teams/24" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/25">Portland Trailblazers</a></td><td><% if (user) { %>
                <form action="/teams/25" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/26">Sacramento Kings</a></td><td><% if (user) { %>
                <form action="/teams/26" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/27">San Antonio Spurs</a></td><td><% if (user) { %>
                <form action="/teams/27" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
          <tr><td><a href="/teams/29">Utah Jazz</a></td><td><% if (user) { %>
                <form action="/teams/29" method="POST">
                    <button>FAVORITE</button>
                </form>
            <% } %></td></tr>
        </tbody>
    </table>

<!-- 
  <form id="choose-team-form" method="GET" action="/teams/:id">
    <label>Western Conference Team:</label>
      <option value="7">Dallas Mavericks</option>
      <option value="8">Denver Nuggets</option>
      <option value="10">Golden State Warriors</option>
      <option value="11">Houston Rockets</option>
      <option value="13">Los Angeles Clippers</option>
      <option value="14">Los Angeles Lakers</option>
      <option value="15">Memphis Grizzlies</option>
      <option value="18">Minnesota Timberwolves</option>
      <option value="19">New Orleans Pelicans</option>
      <option value="21">Oklahoma City Thunder</option>
      <option value="24">Phoenix Suns</option>
      <option value="25">Portland Trailblazers</option>
      <option value="26">Sacramento Kings</option>
      <option value="27">San Antonio Spurs</option>
      <option value="29">Utah Jazz</option>
    </select>
    <input type="submit" value="View Team"> -->
  <!-- </form> -->

<%- include('../partials/footer') %>